.button {
    background-color: rgb(202, 52, 52);
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
  }
  .button:hover{
      background-color: rgb(150, 16, 16);
  }
  .button2 {
    background-color: rgb(34, 104, 6);
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
  }
  .button2:hover{
      background-color: rgb(24, 75, 3);
  }
  