<div *ngIf="(dados$ | async) as d" >
  <h1 style="text-align:center">Clientes Cadastrados</h1>
  <div class="listagem-clientes" >
    <a *ngFor="let cliente of d.clientes" class="item" (click)="editarCliente(cliente)">
      <b>Cliente: </b> {{ cliente.nome }} <br> 
      <b style="margin-left: 40px;">Contato: </b>  {{ cliente.contato }} <br>
      <b style="margin-left: 40px;">Email: </b> {{ cliente.email }} <br><br>
      <b style="margin-left: 88px;"> Endereços Registrados </b> <br>

      <div *ngFor="let cliente of cliente.enderecos" class="endereco">
        <b style="margin-left: 35px;">Cidade: </b> {{ cliente.cidade }} 
        <b style="margin-left: 35px;">Bairro: </b> {{ cliente.bairro }}
     </div>
    </a>
  </div>
  <button type="button" class="button" (click)="editarCliente()">Novo Cliente</button>
</div>
