<form *ngIf="(dados$ | async) as d" [formGroup]="formulario" appFormulario (formSubmit)="salvar()">
  <div class="campo">
      <h2>Dados do Cliente</h2>
      <label>Cliente</label>
      <select formControlName="cliente" appCampoFormulario>
        <option value="">Selecione um cliente!</option>
        <option *ngFor="let opcao of d.opcoesClientes" [value]="opcao.id">
          {{ opcao.nome }}
        </option>
      </select>
      <label>Endereço</label>
      <select formControlName="endereco" appCampoFormulario>
        <option value="">Selecione um endereco!</option>
        <option *ngFor="let opcao of d.opcoesEndereco" [value]="opcao.id">
          {{ opcao.rua }}, {{ opcao.numero }}, {{ opcao.complemento }}, {{ opcao.bairro }}, {{ opcao.cidade }}
        </option>
      </select>
  </div>
  <br>
  <b>Ítens do Pedido</b><br>
  <div class="grid-itens" formArrayName="itens">
    <b class="cabecalho">Item</b>
    <b class="cabecalho">Nome</b>
    <b class="cabecalho">Quantidade</b>
    <b class="cabecalho">Valor</b>
    <b class="cabecalho">Total</b>
    <b class="cabecalho"></b>
    <ng-container *ngFor="let gItem of arrItens.controls; let i = index" [formGroupName]="i">
      <div *ngIf="i > 0" class="separador"></div>
      <span class="numero">{{ (i + 1) }}</span>
      <div class="campo">
        <input type="text" formControlName="nome" appCampoFormulario>
      </div>
      <div class="campo">
        <app-campo-numerico tipo="inteiro" [botaoLimpar]="false" formControlName="quantidade" appCampoFormulario>
        </app-campo-numerico>
      </div>
      <div class="campo">
        <app-campo-numerico tipo="valor" [botaoLimpar]="false" formControlName="valor" appCampoFormulario>
        </app-campo-numerico>
      </div>
      <div class="campo">
        <app-campo-numerico tipo="valor" [botaoLimpar]="false" formControlName="total" appCampoFormulario>
        </app-campo-numerico>
      </div>
      <button type="button" (click)="removerItem(i)">
        Remover
      </button>
    </ng-container>
  </div>
  <div class="linha botoes">
    <button type="button" (click)="adicionarItem()">
      Adicionar Ítem
    </button>
  </div>

  <div class="campo">
    <label>Valor</label>
    <app-campo-numerico tipo="valor" formControlName="valor" appCampoFormulario></app-campo-numerico>
  </div>
  <div>
    <button type="button" routerLink="/pedidos">Voltar</button>
    <button *ngIf="d.dadosFormulario?.id" type="button" (click)="excluir()">Excluir</button>
    <button type="submit">Enviar</button>
  </div>
</form>
