<form *ngIf="(dados$ | async) as d" [formGroup]="formulario" appFormulario (formSubmit)="salvar()">
  <div class="campo">
      <h2>Dados do Cliente</h2>
      <label>Nome</label>
      <input type="text" formControlName="nome" appCampoFormulario>
      <label>E-mail</label>
      <input type="text" formControlName="email" appCampoFormulario>
      <label>Contato</label>
      <input type="text" formControlName="contato" appCampoFormulario>
  </div>
  <br>
  <b>Ítens do Pedido</b><br>
  <div class="grid-itens" formArrayName="enderecos">
    <b class="cabecalho">Endereço</b>
    <b class="cabecalho">Cidade</b>
    <b class="cabecalho">Bairo</b>
    <b class="cabecalho">Rua</b>
    <b class="cabecalho">Número</b>
    <b class="cabecalho">Complemento</b>
    <ng-container *ngFor="let gEndereco of arrEnderecos.controls; let i = index" [formGroupName]="i">
      <div *ngIf="i > 0" class="separador"></div>
      <span class="numero">{{ (i + 1) }}</span>
      <div class="campo">
        <input type="text" formControlName="cidade" appCampoFormulario>
      </div>
      <div class="campo">
        <input tipo="text" [botaoLimpar]="false" formControlName="bairro" appCampoFormulario>
      </div>
      <div class="campo">
        <input tipo="text" [botaoLimpar]="false" formControlName="rua" appCampoFormulario>
      </div>
      <div class="campo">
        <app-campo-numerico tipo="numero" [botaoLimpar]="false" formControlName="numero" appCampoFormulario>
      </div>
      <button type="button" (click)="removerItem(i)">
        Remover
      </button>
    </ng-container>
  </div>
  <div class="linha botoes">
    <button type="button" (click)="adicionarItem()">
      Adicionar Ítem
    </button>
  </div>

  <div class="campo">
    <label>Valor</label>
    <app-campo-numerico tipo="valor" formControlName="valor" appCampoFormulario></app-campo-numerico>
  </div>
  <div>
    <button type="button" routerLink="/clientes">Voltar</button>
    <button *ngIf="d.valorAtual?.id" type="button" (click)="excluir()">Excluir</button>
    <button type="submit">Enviar</button>
  </div>
</form>
